/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.navbar .logo {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-links a:hover {
    color: #ff7b00;
}

/* Activities Section */
.Activities {
    text-align: center;
    background-color: #2C2C2B;
    color: white;
    padding: 20px 20px;
}

.Activities-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.Activities-section img {
    width: auto;
    height: 200px;
}

body {
    background-color:#2C2C2B; /* พื้นหลังหลักของหน้า */
}

.content-section {
    background-color: #333; /* พื้นหลังของแต่ละ section */
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 10px; /* ทำให้มุมของ section โค้งมน */
    width: 70%; /* กำหนดความกว้างเป็น 80% ของหน้าจอ */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto; /* จัด section ให้อยู่กลางหน้าจอ */
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin: auto; /* จัดให้อยู่กลาง section */
}

.image-box {
    flex: 1;
    margin-right: 25px;
}

.image-box img {
    width: 100%;
    border-radius: 15px; /* ทำให้รูปภาพมีขอบมน */
    border: 5px solid #ff6600; /* กำหนดขอบของรูปภาพเป็นสีส้ม */
}

.text-box {
    flex: 1;
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ff6600; /* สร้างกรอบเส้นประสีส้ม */
    padding: 20px;
    color: #ffffff;
    text-align: center;
    min-height: 250px; /* กำหนดความสูงขั้นต่ำให้กล่องข้อความ */
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์ Mitr ให้ทั้งหน้า */
    font-size: 22px;
    line-height: 1.5;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}