/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.navbar .logo {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-links a:hover {
    color: #ff7b00;
}


/* Certificates Section */
.Certificate {
    text-align: center;
    background-color: #2C2C233B;
    color: white;
}

.Certificate-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Certificate-section img {
    width: auto;
    height: 200px;
}

body {
    background-color:  #2C2C2B; /* พื้นหลังหลักของหน้า */
}

.content-section {
    display: flex;
    gap: 35px;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
    margin: auto; /* จัดกึ่งกลางทั้งแนวตั้งและแนวนอน */
}

.column {
    background-color: #222;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 100%;
    border: 2px solid #ff6600;
    max-width: 500px;
}

.image-box {
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}


.image-box:hover {
    transform: scale(1.11); /* ขยายขนาดขึ้น 5% เมื่อ hover */
    transition: transform 0.5s ease;
}

.image-box img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.text-box {
    margin-top: 15px;
    padding: 10px;
    background-color: #333;
    border-radius: 10px;
    color: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    font-family: 'Mitr', sans-serif; /* กำหนดฟอนต์ Mitr ให้ทั้งหน้า */
    font-size: 22px;
    line-height: 0.5;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

