/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.navbar .logo {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-links a:hover {
    color: #ff7b00;
}

/* Profile Section */
.profile {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 50px 20px;
}

.photo-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-section img {
    width: auto;
    height: 680px; 
}

.photo {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.profile-text {
    margin-top: 0px;
    font-size: 25px;
}

.profile-text h2 {
    font-size: 68px;
    margin-bottom: 10px;
}

.highlight {
    color: #ff4500;
}

.quote {
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 15px;
    color: #ffa07a;
}

/* Education Section */
.education {
    padding: 40px 20px;
    background-color: #333;
}

.education h3 {
    font-size: 60px;
    margin-bottom: 35px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.education-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 20px;
    width: 330px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
}

.card p {
    margin-top: 5px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #ff4500;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.card span {
    margin-top: 10px;
    display: block;
    font-size: 18px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* GPA Section */
.GPA {
    display: flex;
    justify-content: flex-end; /* ชิดขวา */
    padding: 20px 200px;
    background-color: #333;
}

.GPA-text h2 {
    margin-top: -50px;
    font-size: 40px;
    color: #ff4500;
    margin-bottom: -10px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.GPA-text {
    font-size: 20px;
    text-align: right;
    padding: 20px;
    line-height: 2.2;
    margin-bottom: 10px;
    color: #ffffff;
}

/* Contact Section */
.Contact {
    display: flex;
    justify-content: flex-start; /* ชิดซ้าย */
    padding: 20px 200px;
    background-color: #333;
}

.Contact-text h2 {
    margin-top: -50px;
    font-size: 40px;
    color: #ff4500;
    margin-bottom: -10px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.Contact-text {
    font-size: 20px;
    text-align: left;
    padding: 20px;
    line-height: 2.2;
    margin-bottom: 10px;
    color: #ffffff;
}
