
/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.navbar .logo {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-links a:hover {
    color: #ff7b00;
}

/* Mywork Section */
.Work {
    text-align: center;
    background-color: #2C2C2B;
    padding: 50px 20px;
}

.Work-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.Work-section img {
    width: auto;
    height: 200px;
}

body {
    font-family: Arial, sans-serif;
    background-color:#2C2C2B; /* พื้นหลังหลักของหน้า */
}

/* Tast page */
.carousel-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 100px;
    background-color: #333; /* พื้นหลังของแต่ละ section */
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 10px; /* ทำให้มุมของ section โค้งมน */
    width: 90%; /* กำหนดความกว้างเป็น 90% ของหน้าจอ */
    margin-left: auto;
    margin-right: auto; /* จัด section ให้อยู่กลางหน้าจอ */
}

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.9s ease;
}

.item {
    min-width: 300px;
    margin: 15px;
    text-align: center;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ff6600;
    color: #ffffff;
    border: none;
    padding: 15px;
    font-size: 25px;
    cursor: pointer;
    z-index: 1;
    border-radius: 10%;
}

.carousel-control.left {
    left: 10px;
    
}

.carousel-control.right {
    right: 10px;
}

/* เอฟเฟกต์เมื่อเมาส์เลื่อนผ่าน */
.carousel-control:hover {
    background-color: #333;
    color: #ffffff;
    transform: translateY(-50%) scale(1.1); 
    transition: transform 0.3s ease;
}